.intro {
  text-align: center;
}

li {
  display: horizontal;
  line-height: 17px;
  border: 1px;
  border-width: thin;
  border-style: double;
  margin: 2px;
}

h1 {
  color: blue;
  background-color: black;
  text-align: center;
}

p::first-line {
  color: #ff0000;
  font-variant: small-caps;
}
